* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

body {
    height: 150vh;
    overflow-x: hidden;
    background-color: #141414;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}